<section class="idea">
  <div class="columns">
    <div class="column is-narrow">
      <div class="card-image">
        <figure class="image is-128x128">
          <%= image_tag(idea.picture_url) if idea.picture.present? %>
        </figure>
      </div>
    </div>
    
    <div class="column">
      <h3 class="idea-title"><%= idea.name %></h3>
      
      <p class="idea-content">
        <%= idea.description %>
      </p>
      
      <hr />
      
      <div class="actions">
        <%= link_with_content fa_icon(:pencil), edit_idea_path(idea), class: "button is-warning" %>
        <%= link_with_content fa_icon(:remove), idea, class: "button is-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <br>
      <small><%= idea.updated_at.strftime("%d %b %y - %H:%M") %></small>    
    </div>
  </div>
</section>