<p id="notice"><%= notice %></p>

<h1 class="title is-1">Listing Ideas</h1>

<table class="table is-bordered is-striped is-narrow">
  <thead class="thead">
    <tr class="tr">
      <th width="250"></th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody class="tbody">
    <% @ideas.each do |idea| %>
      <tr class="tr">
        <td>
          <%= image_tag(idea.picture_url) if idea.picture.present? %>
        </td>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td>
          <ul>
            <li><%= link_to 'Show', idea %></li>
            <li><%= link_to 'Edit', edit_idea_path(idea) %></li>
            <li><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Idea', new_idea_path %>
